@model WebBanThucAnNhanh.Models.FastFood

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FastFood</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameFastFood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameFastFood)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfFastFood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfFastFood.NameTypeOfFastFood)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Theme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Theme.NameTheme)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdFastFood">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
